* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(179deg, black, #ff00001a), url(images/ship.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

nav {
    max-height: 10vh;
    width: 100%;
    padding: 20px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: flex-start
}

nav ul li a {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    margin-right: 30px;
}

nav ul li a:hover,
a.active {
    background-color: #E33741;
    border-radius: 5px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 10px;
}

.form {
    width: 80%;
}

.booking-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    float: right;
    width: 80%;
}

.booking-form h3 {
    margin: 10px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #e33741;
}

.booking-form .input-group {
    margin: 10px 0;
}

.booking-form .calculations {
    margin: 10px 0;
}

.booking-form .calculations p {
    font-weight: 500;
    margin-bottom: 10px;
}

.booking-form input {
    width: 100%;
    display: block;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid saddlebrown;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}

.f-class {
    display: flex;
    align-items: center;
}

.inp-width {
    min-width: 300px;
}



.booking-form .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.btn-style {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color: #E33741;
}

.amount {
    display: flex;
    justify-content: space-between;
}

.ticket-btn {
    padding: 8px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: white;
    margin-left: 8px;
    background: #e33741;
}

#confirmation{
    display: none;
}